@use "../globals" as *;

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;

  @include mq(lg) {
    margin-bottom: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;

  @include mq(lg) {
    padding-bottom: 150px !important;
  }
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

// font
.font-sm {
  font-size: 14px;

  @include mq(lg) {
    font-size: 16px;
  }
}
.font-md {
  font-size: 17px;

  @include mq(lg) {
    font-size: 19px;
  }
}
.font-lg {
  font-size: 17px;

  @include mq(lg) {
    font-size: 23px;
  }
}
.font-xl {
  font-size: 25px;

  @include mq(lg) {
    font-size: 36px;
  }
}
.font-2xl {
  font-size: 38px;
  @include mq(lg) {
    font-size: 50px;
  }
}
